
<p>Welcome, <%= @user.username %>~<p>

<p>Thank you for registering and becoming a member of the AskCr Crystal programming resource.</p>

<p>We hope you learn a lot and help others while using this platform!</p>

<p>Please click <a href="<%= ConfirmEmail::Confirm.url(@user.id, @token) %>">here</a> to confirm your account and signin.</p>
<br/>
<br/>
<p>Thank you</p>
<p>Askcr.io Team</p>
