Welcome, <%= @user.username %>~

Thank you for registering and becoming a member of the AskCr Crystal programming resource.

We hope you learn a lot and help others while using this platform!

Please click <%= ConfirmEmail::Confirm.url(@user.id, @token) %> to confirm your account and signin.

Thank you
Askcr.io Team